@model IEnumerable<Excursion.Models.User>

@{
    ViewBag.Title = "UserManage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserManage</h2>

@section Content
{
    <link href="~/CSS/table.css" rel="stylesheet"/>
    <div>
        <table>
            <tr>
                <th>
                    用户Id
                </th>
                <th>
                    用户名称
                </th>
                <th>
                    密码
                </th>
                <th>
                    性别
                </th>
                <th>
                    电子邮件
                </th>
                <th>
                    电话
                </th>
                <th>
                    地址
                </th>
                <th>
                    支付账号
                </th>
                <th>
                    银联卡号
                </th>
                <th>
                    头像
                </th>
                <th>
                    花名
                </th>
                <th>
                    操作
                </th>
            </tr>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sex)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CNum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Alipay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unionpay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Avatar)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StageName)
                        </td>
                        <td>
                            @Html.ActionLink("删除", "Delete", new {id = item.Id})
                        </td>
                    </tr>
                }
            }
        </table>
@{
    int page = 1;
    int.TryParse(Request.QueryString["page"], out page);
    if (page <= 0)
    {
        page = 1;
    }
}
<div>
    @(page == 1 ? Html.ActionLink("上一页", "UserManage", new { page }) : Html.ActionLink("上一页", "UserManage", new { page = page - 1 }))
    <strong> 当前页：@page </strong>
    @Html.ActionLink("下一页", "UserManage", new { page = page + 1 })
</div>
</div>
}
